.badgebox {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.indivBadge {
  border: 1px solid black;
  height: 100%;
  padding: 10px;
  margin: 5px;
}

.indivBadge img {
  width: 100px;
}

img.badge {
  width: 100px;
}
